<a href="https://colab.research.google.com/github/h3ryandy/DSA/blob/main/0_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structure and Algorithm

## About the instructor: 
    
**Ts. Dr. Yu Yong Poh**

REDBEAT ACADEMY, AIRASIA
    
yongpohyu@airasia.com

LinkedIn: [Yong Poh Yu](https://www.linkedin.com/in/yong-poh-yu/)

©2021 RedBeat Academy Sdn. Bhd. All rights reserved.

## Preface: 

This course covers both basic and advanced data structure like Arrays, Linked Lists, Trees, Hashtables, Stacks, Queues, Heaps, Sort algorithms like QuickSort, MergeSort, and Insertion sort and Search algorithms like linear and binary search.

This course also covers some of the advanced algorithms like  Dijkstra’s algorithm, Bellman-Ford algorithm, Kruskal algorithm, etc.

All the code examples and problems are implemented using Python programming language so that you don’t have any difficulty in understanding how to apply them on your own.

## Day 0: Introduction to Python

### Why Python?

1. It’s easy to learn
- Now the top programming language (ref: [IEEE](https://spectrum.ieee.org/at-work/tech-careers/top-programming-language-2020) )

2. Full featured

3. Strong Libraries


Please be noted that Python isn't the only way/langugage that we can learn data structure and algorithm. We can learn DSA in C/C++, Java, or any other programming languages.  The concepts are more important for you to understand.

### print

type **print("Hello World")** and observe the difference

In [ ]:
print("Hello World")

Hello World

In [ ]:
"Hello World"

'Hello World'

In [ ]:
print("Hello World")
print("I Love AirAsia")

Hello World
I Love AirAsia

In [ ]:
"Hello World"
"I Love AirAsia"

'I Love AirAsia'

## Numeric

Python can also handle numbers, and basic arithmetic using the following functions.

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | modulo |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [ ]:
5//3

1

In [ ]:
print(3)
print(3*5)
print(3+3)
print(3-2)
print(8/3)

3
15
6
1
2.6666666666666665

**Type the following and observe the difference**

3

3*5

3+3

3-2

8/2

In [ ]:
3

3*5

3+3

3-2

8/2

4.0

### Practice: Basic Arithmetic Exercises

In [ ]:
# What is the duration of our 5-day workshop in minutes?

### Integers vs. Float

For Python 2.x, it interprets 1/2 = 0, while Python 3.x the result will be 0.5

In [ ]:
print(1/2)

In [1]:
print((type(10)))
print((type(10.)))
print((10 / 3))
print((10 % 3))
print((float(10) / 3)) # Force integers to be float
print((13.0 / 3.5)) # You can also change the initial data type. 
print((13.0 //3.5)) # Floor Division, rounds down the result to the nearest integer
print((round(7.5))) # You can round floats up to the neares integer.

<class 'int'>
<class 'float'>
3.3333333333333335
1
3.3333333333333335
3.7142857142857144
3.0
8

In [2]:
import math
math.floor(5/3)

1

In [3]:
import math
math.ceil(5/3)

2

### Variables

In [4]:
b = -10 
c = 2.7 

print(b)
print(c)
print((b + c))

print((type(b)))
print((type(c)))
print((type(b+c)))

-10
2.7
-7.3
<class 'int'>
<class 'float'>
<class 'float'>

In [5]:
print(b**5)
print(b+c*(b/c))

-100000
-20.0

### Change the data type

In [7]:

b = float(b)
c = int(c)

print(b)
print(c)

print((type(b)))
print((type(c)))

-10.0
2
<class 'float'>
<class 'int'>

### Exercise

How far does light travel in the time that your computer does one cycle?

Assuming that the computer is processing at a frequency of 4GHz.

In [10]:
cycletime = 4 * 10**9
lightspeed = 3 * 10**8

distance = lightspeed / cycletime

print(distance)

0.075

### Type the following command

%whos

In [11]:
%whos

Variable     Type      Data/Info
--------------------------------
b            float     -10.0
c            int       2
cycletime    int       4000000000
distance     float     0.075
lightspeed   int       300000000
math         module    <module 'math' (built-in)>

## Strings

Define a variable as your name.  Then print "I am     ____  from AirAsia" using your variable.

In [ ]:
name = 'Yu'
print("I am " + name + " from RBA")

I am Yu from RBA

### What will happen?

print("AirAsia is no " + 1)

In [ ]:
print("AirAsia is no " + 1)

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("AirAsia is no " + str(1))

AirAsia is no 1

In [13]:
ranking = 1
print("AirAsia is no " + str(ranking))

AirAsia is no 1

### Slices of String Indices


my_company[i] -- ith item of my_company, origin 0

my_company[i:j] -- slice of my_company from i to j

my_company[i:j:k] -- slice of my_company from i to j with step k

In [ ]:
my_company ='AirAsia'

print(my_company[0])
print(my_company[0:5])
print(my_company[1:5])
print(my_company[0:6])

A
AirAs
irAs
AirAsi

In [ ]:
print(my_company[1:len(my_company)])

irAsia

What is this?

In [ ]:
print(my_company[0::2])

Arsa

In [ ]:
print(my_company[3::])

Asia

### HELP ME PLEASE

just type **help("str.find")**

In [ ]:
help("str.find")

Help on method_descriptor in str:

str.find = find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

### Common built- in methods
min(s) -- smallest item of s	

max(s) -- largest item of s	 

s.count(x) -- total number of occurrences of x in s	

s.lower(), s.upper() -- returns the lowercase or uppercase version of the string

s.strip() -- returns a string with whitespace removed from the start and end

s.isalpha()/s.isdigit()/s.isspace()... -- tests if all the string chars are in the various character classes

s.startswith('other'), s.endswith('other') -- tests if the string starts or ends with the given other string

s.replace('old', 'new') -- returns a string where all occurrences of 'old' have been replaced by 'new'

s.split('delim') -- returns a list of substrings separated by the given delimiter. The delimiter is not a regular expression, it's just text. 'aaa,bbb,ccc'.split(',') -> ['aaa', 'bbb', 'ccc']. As a convenient special case s.split() (with no arguments) splits on all whitespace chars.

s.join(list) -- opposite of split(), joins the elements in the given list together using the string as the delimiter. e.g. '---'.join(['aaa', 'bbb', 'ccc']) -> aaa---bbb---ccc

### Exercise

print *Tony Fernandes is the founder of AirAsia.* in uppercase

In [14]:
boss = "Tony Fernandes is the founder of AirAsia." 

boss.upper()

'TONY FERNANDES IS THE FOUNDER OF AIRASIA.'

### format()

With Python 3.0, the format() method has been introduced for handling complex string formatting more efficiently. This method of the built-in string class provides

functionality for complex variable substitutions and value formatting. This new formatting technique is regarded as more elegant. The general syntax of format()

In [ ]:
print('My name is {}. I am working at {} as the {}. \
I have been with this company for {} year(s).'.format('YU','RBA', 'Lead Technical Trainer', 1))

My name is YU. I am working at RBA as the Lead Technical Trainer. I have been with this company for 1 year(s).

### Function

In [ ]:
def addition( x , y ):
    "This is my first function. Please take note that indent is important!"
    
    return x + y

In [ ]:
addition(5,8)

13

In [ ]:
addition(10,22)

32

### Thinking Corner
Oops, "This is my first function. Please take note that indent is important!" was not returned?!

In [22]:

# Retify the problem and complete the code

## start your code here...

def addition2( x , y ):
    print("This is my first function. Please take note that indent is important!")
    return x + y

In [23]:
addition2(10,22)

This is my first function. Please take note that indent is important!

32

### Exercise 

Write a function to find the square root of a number

In [ ]:
import math
math.sqrt(10)

3.1622776601683795

In [ ]:
def squareroot (x):
    
    return math.sqrt(x)

In [ ]:
squareroot (100)

10.0

In [26]:
# Your own codes

def squareroot(x):
  return x**0.5

print(squareroot(100))

10.0

In [ ]:
squareroot(10)

3.1622776601683795

### if-else condition

In [ ]:


def which_is_bigger(a,b):
    if a > b:
        return a
    elif a < b:
        return b
    else:
        return 'equal'

print(which_is_bigger (5,3))
print(which_is_bigger (3,6))
print(which_is_bigger (3,3))

5
6
equal

### List Methods

- list.append(elem) -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
- list.insert(index, elem) -- inserts the element at the given index, shifting elements to the right.
- list.extend(list2) adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().
- list.index(elem) -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).
- list.remove(elem) -- searches for the first instance of the given element and removes it (throws ValueError if not present)
- list.sort() -- sorts the list in place (does not return it).
- sorted(list) -- return sorted list but keeps the original order of the list
- list.reverse() -- reverses the list in place (does not return it)
- list.pop(index) -- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).

#### Example

In [ ]:
colors = ['red', 'green', 'blue']
colors.append('purple')
colors

['red', 'green', 'blue', 'purple']

### List Slicing

In [ ]:
print(colors[0])
print(colors[0][1])

red
e

### List Comprehensions

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
squares = [n*n for n in numbers]

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
squares_oddnum = [n*n for n in numbers if n%2==1]

print(squares_oddnum)

[1, 9, 25, 49]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
[n*n for n in numbers if n%2==0]

[1, 9, 25, 49]

### Sorting a given list

In [ ]:
# vowels list
vowels = ['e', 'a', 'u', 'o', 'i']

# sort the vowels
vowels.sort()

# print vowels
print('Sorted list:', vowels)

Sorted list: ['a', 'e', 'i', 'o', 'u']

### Searching for an element in a list

In [ ]:
# vowels list
vowels = ['e', 'a', 'u', 'o', 'i']

vowels.index("u")

2